
:root {
  --main-bg-color: #0B0D19;
  --secondary-bg-color: #1e293b;
  --accent-color: #02b3e4;
  --text-color: white;
  --test: #1e293b;
}


.main {
    margin: -1rem;
    display: flex;
    background-color: var(--main-bg-color);
}

.main-panel {
    flex: 1;
    height: 100vh;
}

.sidepanel {
    width: 15vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid white;

}

.sidepanel button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.sidepanel button:hover {
    background-color: white;
    color: black;
}

.sidepanel button:active {
    background-color: rgb(183, 174, 174);
    color: black;
}



.information-boxes-container {
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

.information-box {
    padding: 0 2rem 2rem 2rem;
    background-color: var(--secondary-bg-color);
    color: white;
    border: white 1px solid;
    border-radius: 1rem;

}

.filter-panel {
    display: flex;
    padding: 2rem;
    margin: 0 2rem 2rem 0;
    gap: 1rem;
    background-color: var(--secondary-bg-color);
    border: 1px solid white;

}

.filter-panel button {
    background-color: #24a0ed;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    border-radius: 5px;
    border: none;
}

.filter-panel button:hover {
    background-color: #1f8acc;
    
}

.filter-panel button:active {
    background-color: #176494;
    
}

.filter-panel input {
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.sub-main-panel {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.graphs {
    border: 1px solid white;
    border-radius: 5px;
    height: 50vh;
    text-align: center;
    flex: 3;

}

.alert-panel {
    color: White;
    text-align: center;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    border: 1px white solid;
    flex: 1;

    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow: hidden;
    overflow-y: auto;
}


.alert-card {
    border-top: 2px solid white;
}

.alert-card h3 {
    color: rgb(255, 71, 71);

}

/* In your App.css or similar */
.graphs {
    flex: 3; /* Take up available space next to alert panel */
    padding: 10px;
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    overflow: hidden; /* Important for Recharts responsive container */
}

.chart-container {
    padding: 15px 15px 0 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.chart-container h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    color: #555;
}